#homeMessage{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 65px;
    text-align: center;
}

#mainPic{
    width: 300px;
    size: 300px;
    align-self: right;
    margin-left: 500px3;
   
}