.ms-auto{
    font-size: 1.5rem;
    color: black;
 }

/* Smooth transition */
.navbar {
   transition: background-color 5s ease;
 }
 
 /* Different background color when scrolled */
 .scrolled {
   background: linear-gradient(to right, rgba(12, 35, 64), rgba(201, 105, 0)); /* Change to your desired background color */
 }
 